.basket_big_title {
  color: #1A1A1A;
  font-family: Heebo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.basket_no_data {
  color: var(--csk-000000600, #666);
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
  margin-top: 48px;
}

.recomendation_title {
  color: var(--csk-000000900, #1A1A1A);
  font-family: Heebo;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 108px;
  margin-bottom: 32px;
}

.basket_card {
  cursor: pointer;
  width: 740px;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

.basket_card_img {
  width: 236px;
  height: 220px;
  border-radius: 20px;
  margin: 20px 0 0 0;
}

.basket_card_name {
  color: var(--csk-000000900, #1A1A1A);
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
}

.basket_card_price {
  color: var(--Primary-2, #22A7C1);
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.basket_card_edit {
  color: var(--Primary-2, #22A7C1);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  margin-top: 17px;
  margin-left: 10px;
}

.basket_card_delete {
  color: #F94A4A;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  margin-top: 17px;
  margin-left: 10px;
}

.basket_card_plus_minus {
  display: inline-flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--csk-000000100, #E6E6E6);
  color: var(--Primary-2, #22A7C1);
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
  letter-spacing: -0.1px;
  width: 30px;
  height: 30px;
}

.basket_card_count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1.5px solid var(--Primary-2, #22A7C1);
  background: #FFF;
  color: var(--Primary-2, #22A7C1);
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  width: 45px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.basket_counter_fat {
  width: 381px;
  height: 357px;
  border-radius: 16px;
  border: 1px solid var(--csk-000000200, #CCC);
  background: #FFF;
  margin: 200px 120px;
  padding: 44px 57px;
}

.basket_counter_total {
  color: #000;
  text-align: center;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.basket_counter_total_price {
  color: var(--Primary-2, #22A7C1);
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

.basket_counter_total_price_black {
  color: var(--csk-000000800, #333);
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.basket_prices input[type="checkbox"] {
  width: 24px;
  height: 24px;
  clip-path: circle(46% at 50% 50%);
  accent-color: #4DAD1F !important;
  color: #fff !important;
  opacity: 1 !important;
}

.basket_card_checkbox_wrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--csk-000000200, #CCC);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 120px;
}

.choose_all input[type="checkbox"] {
  width: 24px;
  height: 24px;
  clip-path: circle(46% at 50% 50%);
  accent-color: #4DAD1F !important;
  color: #fff !important;
  opacity: 1 !important;
}

.choose_all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose_all_title {
  color: var(--csk-000000900, #1A1A1A);
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
  margin-top: 2px;
}

.choose_all_checkbox_wrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--csk-000000200, #CCC);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.basket_counter_button {
  display: flex;
  width: 267px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Primary-2, #22A7C1);
  color: var(--csk-000000900, #1A1A1A);
  text-align: center;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  margin-top: 43px;
}

.basket_order_now {
  display: flex;
  width: 267px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: var(--Primary, #4DAD1F);
  box-shadow: 0px 1px 2px 0px rgba(53, 29, 0, 0.20);
  color: #FFF;
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.09px;
  border: none;
  margin-top: 20px;
}