@font-face {
  font-family: 'Heebo';
  src: local('Heebo'), url(./layouts/fonts/heebocyrillic.ttf) format('woff');
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./layouts/fonts/Inter/static/Inter-Medium.ttf) format('woff');
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: local('Montserrat Alternates'), url(./layouts/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf) format('woff');
}

@font-face {
  font-family: 'Montserrat Alternates Bold';
  src: local('Montserrat Alternates Bold'), url(./layouts/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf) format('woff');
}

:root {
  --green: #4DAD1F;
  --white: #ffffff;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  border-color: transparent !important;
}

/* React Error Display Hiding  */

/* iframe {
  display: none;
} */